.container  {
    width: 233px;
    height: 268px;
    background-color: var(--white);
    margin-bottom: 28px;
    }
    
    img {
    width:207px;
    height:171px;
    padding-top: 13px;
    margin-left: 13px;
    
    }
    
    h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 15px;
    
    }
    
    p {
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 400; 
    margin-top: 25px;
    margin-left: 15px;
    
    }
    