#customize{
    gap: 40px
}

#extras{
    align-self: flex-end;
    align-items: flex-start;
    width: 371px;
    gap:20px
}
app-extra-card{
    width: 100%;
}

#toCart {
    font: 700 16px var(--inter);
    width: 371px;
    padding: 25px 0px;
    border-radius: 10px;
    align-self: flex-end;
}